.headline.news--all{
	margin-bottom: 20px;
}
.container--news--all .title--year:not(:first-child){
	margin: 50px 0 4px;
}
.container--news--all .title--year h3 a{
	font-family: "PT SANS";
	color: #029bb5;
	font-weight: 900;
	font-size: 1.6rem;
	margin: 0 0 10px; 
}
.container--news--all .container--object{
	display: flex;
	justify-content: center;
}
.container--news--all .container--object .img{
	width: 100px;
	margin-right: 10px;
}
.container--news--all .container--object .img img{
	border: 3px solid #029bb5;
	border-radius: 50%;
}
.container--news--all .container--object .date{
	font-size: 0.7rem;
}
.container--news--all .container--object a .title{
	color: #029bb5;
}